# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos
.venv/
venv/
env/

# Herramientas
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Build
dist/
build/
*.egg-info/
